*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:10px;
}
a{
    text-decoration:none
}
ul,li{
    list-style-type:none
}
main{
    padding:2%;
    padding-top:20px;
    display: flex;
    flex-flow: column;
    min-width: calc(800px - 4%);
}
.wrapper{
    /* border:1px solid red; */
    display: flex;
    flex-flow: column;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.132);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 1200px;
    margin: auto;
}



nav{
    padding:4px;
    background: rgb(230, 230, 230);
    border-bottom:1px solid lightgrey;
    border-top-right-radius: 8px;
}
.nav-btn{
    text-transform: capitalize;
}

.box-calendar.on{
    opacity:1;
    animation: fadeIn .500s ease-in;
}
.nav-element{
    display: flex;
    justify-content: space-between;
}
.set-year{
    font-size: 32px;
    font-weight: 300;
    padding:5px 5px 5px 13px ;
}
.wrapper-months{
    /* border:1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%
}
.month{
    flex-basis: 25%;
    padding:15px 20px;
}

.printMonth h2{
    font-weight:300;
    font-size: 18px;
    padding:0 13px 10px ;
    color:rgb(255, 74, 74);

}
.printChDay{
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    color: grey;
    padding:5px 0 15px;
}
.printChDay>*{
    flex-basis:calc(100% / 7);
    text-align: center;
}
.wrapper-day{
   /*  border:1px solid black; */
    display:flex;
    flex-wrap: wrap;
}

.wrapper-day .print-day{
    color:black;
    flex-basis:calc(100% / 7);
    text-align: center;
    font-size:10px;
    font-weight: 500;
    padding:5px 0

}
.wrapper-day .print-day:hover{
    background: #eee;
}

/* temporary div */
.tempDate{
    display: none;
}




/* Components */
button{
    padding:5px 0px;
    margin:0;
    width:80px;
    background:#fff;
    border:1px solid lightgray;
    font-size: 13px;
}
button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:focus{
    outline:none
}
button:hover{
    background:lightgrey;
    cursor: pointer;
}





/* Utility */
.flex-this{
    display:flex;
    justify-content: center;
}
